body {
  background-color: rgb(242, 215, 213);
}

#upper {
  display: flex;
  justify-content: center;
  background-color: rgb(167, 51, 51);
  margin-left: 1%;
  margin-right: 0.9375em;
}


/*-------------------------------------------------------------------------*/

#instructions {
  width: 96.25%;
  border: 0.125em solid;
  background-color: rgb(242, 243, 244);
  margin-top: 1.5em;
  margin-right: 1em;
  margin-left: 1%;
  position: sticky;
  padding-left: 1em;
  padding-right: 1.1em;
}

.rightS_table {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -33.75em;
  width: 45%;
  height: 15.625em;
  border: 0.125em solid;
  background-color: rgb(242, 243, 244);
  margin-right: 0.9375em;
  position: sticky;
}

.rep_scr {
  width: 1.25em;
  height: 1.25em;
  margin-left: 3.125em;
  margin-top: 1.875em;
  border: 0.125em inset;
  padding: 0.3125em;
  text-align: center;
  font-size: large;
}

.p_scr {
  font-style: italic;
  margin-top: 1.25em;
  margin-left: 2.5em;
}

#commands {
  display: flex;
  flex-direction: column;
  margin-left: 11.25em;
  margin-top: -12.5em;
  height: 15.625em;
  width: 35%;
}

#color_box {
  display: flex;
  margin-left: 130%;
  margin-top: -3.7em;
  width: 31.25em;
  height: 35%;
}

#color_inner {
  display: flex;
  margin-top: 2.5em;
  margin-left: -6.2em;
}

#color_checkbox {
  margin-left: 3.7em;
}

#scr_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5em;
}

#scr_button {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin-top: -0.9375em;
  margin-left: 130%;
}

/*-------------------------------------------------------------------------*/

#authentication {
  margin-top: -16.875em;
  height: 14.375em;
  position: relative;
}

#autBox {
  width: 25%;
  height: 50%;
  margin-top: 1.25em;
  margin-left: 1.25em;
  display: flex;
  flex-direction: column;
}

#HOF {
  position: absolute;
  text-align: center;
  width: 62%;
  height: 85%;
  display: grid;
  border: 0.125em dotted;
  margin-top: 0.9375em;
  margin-left: 35%;
}

#HOF_tb {
  margin-top: -17%;
  margin-left: 10%;
  margin-bottom: -16%;
}

#HOF_body {
  margin-top: -10em;
  text-align: center;
}

/*-------------------------------------------------------------------------*/

.board {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  background-color: rgb(111, 151, 97);/*rgb(46, 99, 28);*/
  border-width: 0.125em;
  border-style: dashed;
  width: 50%;
  height: 31.25em;
  margin-left: 1%;
  position: sticky;
}

#game_log {
  width: 49.5%;
  display: flex;
  flex-direction: row;
  background-color: rgb(223, 218, 224);
  border: 0.125em solid;
  float: left;
  clear: both;
  border-top: 0em;
  margin-left: 1%;
  padding-left: 0.5em;
}

#rep_player {
  margin-left: 0.5em;
}

#game_log, #rep_player {
  font-size: large;
}

.cell {
  display: flex;
  justify-content: center;
  background-color: rgb(111, 151, 97);
  border: 0.0625em solid;
}

.dotp1 {
  height: 3.125em;
  width: 3.125em;
  background-color: rgb(0,0,0);
  border-radius: 50%;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
}

.dotp2 {
  height: 3.125em;
  width: 3.125em;
  background-color: rgb(248, 255, 246);
  border-radius: 50%;
  display: inline-block;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
}

.dotplace {
  cursor: pointer;
  height: 3.125em;
  width: 3.125em;
  background-color: rgb(105,105,105);
  border-radius: 50%;
  display: inline-block;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
}
