body {
  background-color: rgb(242, 215, 213);
}

#upper {
  display: flex;
  justify-content: center;
  background-color: rgb(167, 51, 51);
  margin-left: 15px;
  margin-right: 15px;
}

/*-------------------------------------------------------------------------*/

#instructions {
  width: 95.3%;
  height: 100%;
  border: 2px solid;
  background-color: rgb(242, 243, 244);
  margin-top: 1.5em;
  margin-right: 1.2em;
  margin-left: 0.9em;
  position: sticky;
  padding-left: 1em;
  padding-right: 1.1em;
}

.rightS_table {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -540px;
  width: 45%;
  height: 250px;
  border: 2px solid;
  background-color: rgb(242, 243, 244);
  margin-right: 15px;
  position: sticky;
}

.rep_scr {
  width: 20px;
  height: 20px;
  margin-left: 50px;
  margin-top: 30px;
  border: 2px inset;
  padding: 5px;
  text-align: center;
  font-size: large;
}

.p_scr {
  font-style: italic;
  margin-top: 20px;
  margin-left: 30px;
}

#commands {
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  margin-top: -200px;
  height: 250px;
  width: 35%;
}

#color_box {
  display: flex;
  margin-left: 280px;
  margin-top: -68px;
  width: 500px;
  height: 35%;
}

#color_inner {
  display: flex;
  margin-top: 3em;
  margin-left: -6.2em;
}

#color_checkbox {
  margin-left: 3.7em;
}

#scr_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

#scr_button {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin-top: -15px;
  margin-left: 280px;
  margin-right: -230px;
}

/*-------------------------------------------------------------------------*/

#authentication {
  margin-top: -270px;
  height: 230px;
  position: relative;
}

#autBox {
  width: 25%;
  height: 50%;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

#HOF {
  position: absolute;
  text-align: center;
  width: 60%;
  height: 85%;
  display: grid;
  border: 2px dotted;
  margin-top: 15px;
  margin-left: 235px;
}

#HOF_tb {
  margin-top: -70px;
  text-align: center;
}

/*-------------------------------------------------------------------------*/

.board {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  background-color: rgb(111, 151, 97);/*rgb(46, 99, 28);*/
  border-width: 2px;
  border-style: dashed;
  width: 50%;
  height: 500px;
  margin-left: 1%;
  position: sticky;
}

#game_log {
  width: 49.33%;
  display: flex;
  flex-direction: row;
  background-color: rgb(223, 218, 224);
  border: 2px solid;
  float: left;
  clear: both;
  border-top: 0em;
  margin-left: 0.8em;
  padding-left: 0.5em;
}

#rep_player {
  margin-left: 0.5em;
}

#game_log, #rep_player {
  font-size: large;
}

.cell {
  cursor: pointer;
  text-align: center;
  background-color: rgb(111, 151, 97);
  border: 1px solid;
}

.dotp1 {
  height: 50px;
  width: 50px;
  background-color: rgb(0,0,0);
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 19.5px;
  margin-right: 25px;
  margin-bottom: 5px;
}

.dotp2 {
  height: 50px;
  width: 50px;
  background-color: rgb(248, 255, 246);
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
  margin-left: 19.5px;
  margin-right: 25px;
  margin-bottom: 5px;
}

.dotplace {
  height: 50px;
  width: 50px;
  background-color: rgb(105,105,105);
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
  margin-left: 19.5px;
  margin-right: 25px;
  margin-bottom: 5px;
}
